Source: gxde-manual
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Section: python
Priority: optional
Build-Depends:
 ca-certificates,
 cmake,
 debhelper (>= 9),
 git,
 libqcef-dev,
 libdtkwidget2-dev,
 libqt5webchannel5-dev,
 libsass-dev,
 libqt5sql5-sqlite,
 pkg-config,
 qttools5-dev,
 qttools5-dev-tools,
Standards-Version: 3.9.5
Homepage: https://gitee.com/GXDE-OS/gxde-manual/

Package: gxde-manual
Architecture: any
Depends: ${misc:Depends},
 ${shlibs:Depends},
 libqt5core5a,
 libqt5dbus5,
 libqt5sql5-sqlite,
Recommends: qt5dxcb-plugin,
Conflicts: dde-help, deepin-manual
Provides: dde-help, deepin-manual
Description: Deepin Manual
 Deepin User Manual
